// ::-webkit-scrollbar {
// 	width: 0.65rem;
// }

// ::-webkit-scrollbar-track {
// 	background-color: var(--transparent);
// }

// ::-webkit-scrollbar-thumb {
// 	background-color: var(--light-gray);
// }

// ::-webkit-scrollbar-thumb:hover {
// 	background-color: var(--black);
// 	transition: all 0.5s;
// }

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Ubuntu", sans-serif;
	color: #fff;
	text-decoration: none;
	scroll-behavior: smooth;
}

body {
	background-color: #191919;
}

@keyframes lmao {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(21600deg);
	}
}

body.rotate {
	animation: lmao 25s linear infinite;
}

#navbar {
	position: relative;
	margin: 7px;
	display: flex;
	align-items: center;
	// padding: 1rem 2rem;
	// height: 8rem;
	background-color: #becde0;
	color: #652a3e;
	padding-left: 1em;
	padding-right: 1em;

	& > .profile-picture {
		display: flex;
		margin-right: 1rem;
		margin-top: 0.1em;

		margin-bottom: 0.1rem;

		& > img {
			height: 7rem;
			border-radius: 50%;
			display: flex;
			align-items: center;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
	}

	& > .header {
		font-size: 2.7rem;
		font-weight: 700;
		color: #652a3e;
	}
}

#content {
	margin: 10px;
	width: 100%;
	margin-left: 1.5rem;
	margin-top: 1.5rem;

	& > .bio {
		& > * {
			color: #652a3e;
		}

		& > a {
			font-weight: 700;
			text-decoration: underline;
		}

		margin-bottom: 1rem;
	}

	& > #socials {
		width: 100%;

		& > h2 {
			margin-bottom: 1rem;
		}

		& > .cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			height: 80%;
			width: 100%;
			gap: 2rem;
			width: 100%;
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;

			& > * {
				width: 20vw;
				height: 22.5vh;
				padding-top: 1rem;
				padding-bottom: 1rem;
				background-color: #292929;
				border-radius: 1rem;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				transition: all 0.3s ease;
				position: relative;

				& > img {
					--size: 7.5rem;
					max-width: var(--size);
					max-height: var(--size);
				}

				&:hover {
					background-color: #242424;
					box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
					transform: translateY(-0.25rem);
				}
			}
		}
	}
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 10px;
	margin-right: 10px;
	padding: 1rem 2rem;
	background-color: #292929;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	& > * {
		text-decoration: underline;
	}
}
