* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #191919;
}

@keyframes lmao {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(21600deg);
  }
}
body.rotate {
  animation: lmao 25s linear infinite;
}

#navbar {
  position: relative;
  margin: 7px;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  height: 8rem;
  background-color: #becde0;
  color: #652a3e;
  padding-left: 1em;
  padding-right: 1em;
}
#navbar > .profile-picture {
  display: flex;
  margin-right: 1rem;
  margin-top: 0.1em;
  margin-bottom: 0.1rem;
}
#navbar > .profile-picture > img {
  height: 7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#navbar > .header {
  font-size: 2.7rem;
  font-weight: 700;
  color: #652a3e;
}

#content {
  margin: 10px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
#content > .bio {
  margin-bottom: 1rem;
}
#content > .bio > * {
  color: #652a3e;
}
#content > .bio > a {
  font-weight: 700;
  text-decoration: underline;
}
#content > #socials {
  width: 100%;
}
#content > #socials > h2 {
  margin-bottom: 1rem;
}
#content > #socials > .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  gap: 8rem;
}
#content > #socials > .cards > * {
  width: 15vw;
  height: 22.5vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  position: relative;
}
#content > #socials > .cards > * > img {
  --size: 7.5rem;
  max-width: var(--size);
  max-height: var(--size);
}
#content > #socials > .cards > *:hover {
  transform: translateY(-0.25rem);
}
#content > #maxilla > h1 {
  color: #652a3e;
  margin-bottom: 2rem;
}
#content > #borderheader > h1 {
  color: #652a3e;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
#content > #borderheader > #borderfield {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 5rem;
  border: 1px solid aliceblue;
  border-radius: 1rem;
  min-height: 44rem;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 1rem 2rem;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#footer > * {
  text-decoration: underline;
}
