::-webkit-scrollbar {
  width: 0.65rem;
}

::-webkit-scrollbar-track {
  background-color: var(--transparent);
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--black);
  transition: all 0.5s;
}

@font-face {
  font-family: 'monocraft';
  src:url('../fonts/monocraft/Monocraft.ttf') 
          format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "monocraft", sans-serif;
  color: #fff;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

#content {
  margin: 10rem;
}

#intro {
  h2 {
    text-align: center;
    display: flex;
  }
}

#socials {
  margin-top: 7rem;

  & > a {
    color: #fff;
      
    & > img {
      --imgsize: 12rem;
      height: var(--imgsize);
      width: var(--imgsize);
    }   
  }
}